{% extends "utiliser/deuxcolonnes.html" %}
{% load static %}
{% block title %}Pyromaths en ligne, un générateur de fiches d’exercices{% endblock %}
{% block javascript %}
<!--<link rel="stylesheet" href="{% static "enligne-original.css" %}">-->
<script src="{% static "js/jquery-1.10.2.js" %}"></script>
<script src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
{% endblock %}

{% block colonnegauche %}
<h5>{{ VERSION }}</h5>
<h1>Utiliser Pyromaths en ligne</h1>
<script type="text/javascript">
  $(function() {
  $("#tabs").tabs();
});
</script>


{% if messages %}
<ul class="messages" id="errmsg">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="tabs">
  <ul>
  {% for niveau, exercices in EXERCICES %}
    <li><a href="#tabs-{{ forloop.counter0 }}">{{ niveau }}</a></li>
  {% endfor %}
  </ul>

  {% for niveau, exercices in EXERCICES %}
  <div id="tabs-{{ forloop.counter0 }}">
    <table class="tabs">
      {% for name, description in exercices %}
        {% if forloop.counter0|divisibleby:2 %}<tr>{% endif %}
        <td>
            <select id="ex-{{ name }}">
                <option selected="selected">0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            {{ description }}
        </td>
        {% if not forloop.counter0|divisibleby:2 %}</tr>{% endif %}
  {% endfor %}
    </table>
  </div>
  {% endfor %}
  <form method="get" action="{% url 'utiliser:creer' %}" id="idForm" onsubmit="return ray.ajax()">
    {% csrf_token %}
    <noscript>L'utilisation de Pyromaths en ligne nécessite l'activation de Javascript.</noscript>
    <p>
      <br/>
      <input type="submit" value="Cr&eacute;er" />
      <input type="reset" value="Annuler" />
    </p>
  </form>
  <script type="text/javascript">
    $body = $("body");
    var ray={
      ajax:function(st)
      {
        $body.addClass("loading");
      }
    };
  </script>
</div>

<script>
var exolist = [
  {% for niveau, exercices in EXERCICES %}
      {% for name, description in exercices %}
        "{{ name }}"{% if not forloop.last or not forloop.parentloop.last %},{% endif %}
      {% endfor %}
  {% endfor %}
  ];
function generateSeeds(count) {
  seeds = [];
  for(; count > 0; count--){
    seeds.push(Math.floor((Math.random() * 1000000000) + 1));
  }
  return seeds.join(",");
}
$('#idForm').submit(function(){ //listen for submit event
    $('#idForm').children(".seed").remove();
    $.each(exolist, function(i,exo){
      count = Number($("#ex-" + exo + " :selected").text());
      if (count) {
        $('<input />').attr('type', 'hidden')
            .attr('name', exo)
            .attr('class', 'seed')
            .attr('value', generateSeeds(count))
            .appendTo('#idForm');
      }
    });

    return true;
}); 
</script>
{% endblock %}

{% block colonnedroite %}
<p>Le site de <strong>Pyromaths</strong> vous permet de générer une fiche
d'exercices avec le corrigé sur une page à part au format
pdf sans installer aucun programme sur votre ordinateur. Il vous suffit juste de
disposer d'un lecteur pdf.</p>
<p>Pour permettre cela, il nous a fallu louer un serveur dédié afin de pouvoir
y installer Python et LaTeX. La location de ce serveur a coûté 35,87&#160;€ TTC
par mois jusqu'en juin 2010, 17,93&#160;€ TTC jusqu'en avril 2013, 11,95&#160;€
TTC jusqu'en décembre 2013. Depuis cette date, nous louons un serveur à
11,99&#160;€ TTC par mois. Nous avons besoin d'aide pour le financer.</p>
<p>En effet, depuis février 2008, ce serveur nous a coûté <strong>
    {{ deficit|floatformat:"2" }}&#160;€</strong></p>
<p>En cliquant sur le lien ci-dessous, vous pourrez participer à ces frais. Nous
vous remercions.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <p>
    <input type="hidden" name="cmd" value="_s-xclick"/>
    <input type="hidden" name="hosted_button_id" value="5486963"/>
    <input type="image"
    src="https://www.paypal.com/fr_FR/FR/i/btn/btn_donate_SM.gif"
    name="submit" alt="PayPal"/>
    <img alt="logo Paypal"
    src="https://www.paypal.com/fr_FR/i/scr/pixel.gif"/>
    </p>
</form>

{% endblock %}
